@import "tailwindcss";

:root {
	/* colos */
  --color-primary: #000000;
  --color-secondary: #FFFFFF;
	/* fonts */
	--font-ja: "Yu Gothic Pr6N", "Yu Gothic", "YuGothic", "游ゴシック体", "游ゴシック", sans-serif;
	--font-en-futura: "futura-pt", sans-serif;
	--font-en-garamond: "garamond-premier-pro", serif;
}

@theme {
  --font-en-futura: var(--font-en-futura);
  --font-en-garamond: var(--font-en-garamond);
}

html{
  height: 100%;
  font-size: 62.5%;
}
body {
  background: var(--color-secondary);
  color: var(--color-primary);
	font-family: var(--font-ja);
  height: 100%;
  min-height: 100dvh;
  line-height: 1.5;
  font-size: 1.4rem;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* KV */
.kv-wrapper {
  width: 100%;
  padding: 86px calc(120 / 1280 * 100vw) 0;
  background: url(/photo/page/2026_intellectual-journey/img/bg-main.png) no-repeat top;
  /*background-image: url('/photo/page/2026_intellectual-journey/img/bg-main.png');
  background-image: -webkit-image-set(
    url("/photo/page/2026_intellectual-journey/img/bg-main.webp") type("image/webp"),
    url("/photo/page/2026_intellectual-journey/img/bg-main.png") type("image/png")
  );
  background-image: image-set(
    url("/photo/page/2026_intellectual-journey/img/bg-main.webp") type("image/webp"),
    url("/photo/page/2026_intellectual-journey/img/bg-main.png") type("image/png")
  );
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;*/
}
.kv-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-secondary);
  text-align: center;
}

/* イントロ */
.intro {
  display: flex;
  padding: calc(70 / 1280 * 100vw) 0 calc(80 / 1280 * 100vw);
  margin: 0 calc(120 / 1280 * 100vw);
  justify-content: space-between;
}

/* セクション共通 */
.section {
  border-top: 1px solid var(--color-primary);
  padding: calc(80 / 1280 * 100vw) 0;
  margin: 0 calc(120 / 1280 * 100vw);
}
