@import "tailwindcss";

:root {
	/* colos */
  --color-primary: #000000;
  --color-secondary: #FFFFFF;
	/* fonts */
	--font-ja: "Yu Gothic Pr6N", "Yu Gothic", "YuGothic", "游ゴシック体", "游ゴシック", sans-serif;
	--font-en-futura: "futura-pt", sans-serif;
	--font-en-garamond: "garamond-premier-pro-display", serif;
}

@theme {
  --font-ja: var(--font-ja);
  --font-en-futura: var(--font-en-futura);
  --font-en-garamond: var(--font-en-garamond);
}

/* font weight */
.font-en-garamond {
  font-weight: 300;
  font-style: normal;
}

html{
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: var(--color-secondary);
  color: var(--color-primary);
	font-family: var(--font-ja);
  height: 100%;
  min-height: 100dvh;
  line-height: calc(26 / 14);
  font-size: 1.4rem;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 767.9px) {
  body {
    font-size: 1.3rem;
    font-weight: 300;
  }
}


/* flex layout */
@layer utilities {
  /* 2カラム gap40 */
  .flex-gap-40-2col {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .flex-gap-40-2col > * {
    flex-basis: calc((100% - 40px) / 2);
  }
  /* 2カラム gap無し */
  .flex-gap-none-2col {
    display: flex;
    gap: 0;
    flex-direction: row
  }
  .flex-gap-none-2col > * {
    flex-basis: 50%;
  }
  /* 3カラム gap1px */
  .flex-gap-1-3col {
    display: flex;
    gap: 1px;
  }
  .flex-gap-1-3col > * {
    flex-basis: calc((100% - 1px * 2) / 3);
  }
  /* レスポンシブ用 */
  @media (min-width: 768px) {
    .md\:flex-gap-40-2col {
      display: flex;
      gap: 40px;
      justify-content: space-between;
    }
    .md\:flex-gap-40-2col > * {
      flex-basis: calc((100% - 40px) / 2);
    }
    .md\:flex-gap-none-2col {
      display: flex;
      gap: 0;
      flex-direction: row
    }
    .md\:flex-gap-none-2col > * {
      flex-basis: 50%;
    }
    .md\:flex-gap-1-3col {
      display: flex;
      gap: 1px;
    }
    .md\:flex-gap-1-3col > * {
      flex-basis: calc((100% - 1px * 2) / 3);
    }
  }
}
 @media (min-width: 1024px) {
  .lg\:flex-gap-none-2col {
    display: flex;
    gap: 0;
    flex-direction: row
  }
  .lg\:flex-gap-none-2col > * {
    flex-basis: 50%;
  }
 }

/* ページ全体の背景 */
.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background: linear-gradient(
    to bottom,
    rgba(132, 132, 132, 1) 0%,
    rgba(202, 202, 202, 0.42) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: -2;
}

.fixed-background-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-image: url('/photo/page/2026_intellectual-journey/img/bg-main.png');
  background-image: -webkit-image-set(
    url('/photo/page/2026_intellectual-journey/img/bg-main.webp') type('image/webp'),
    url('/photo/page/2026_intellectual-journey/img/bg-main.png') type('image/png')
  );
  background-image: image-set(
    url('/photo/page/2026_intellectual-journey/img/bg-main.webp') type('image/webp'),
    url('/photo/page/2026_intellectual-journey/img/bg-main.png') type('image/png')
  );
  background-size: cover;
  mix-blend-mode: soft-light;
  opacity: 0.5;
  z-index: -1;
}



/* メインコンテンツ */
.main-content {
  position: relative;
  z-index: 10;
}


/* 初期画面 */
.init-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.8s ease;
}
/* .init-logo {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.init-logo .char {
  display: inline-block;
  will-change: transform;
} */
.init-logo {
  width: 100%;
  overflow: hidden;
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.init-logo .char-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  /* overflow: hidden; */
}

.init-logo .char {
  display: block;
  flex: 0 0 auto;
}

.init-logo .char img {
  display: block;
  width: auto;
  height: 3.75vw;
  max-width: 100%;
}

.init-logo_comp {
  margin: 1.64vw auto 0;
  width: 6.79vw;
}

@media (max-width: 767.9px) {
  .init-logo .char img {
    height: 8.01vw;
  }

  .init-logo_comp {
    margin: 5.05vw auto 0;
    width: 18.97vw;
  }
}


/* 初期状態 */
.main-content, .header, .header-content {
  opacity: 0;
  transition: opacity 0.8s ease;
}
/* 表示後 */
body.is-ready .init-screen {
  opacity: 0;
  visibility: hidden;
}
body.is-ready .header,
body.is-ready .header-content,
body.is-ready .main-content {
  opacity: 1;
}


/* セクション共通 */
.section {
  border-top: 1px solid var(--color-primary);
  padding: 80px 0;
  margin: 0 calc(120 / 1280 * 100vw);
}
.section-ttl {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.75;
  margin-bottom: 46.5px;
}
.section-ttl-garamond {
  font-family: var(--font-en-garamond);
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.2;
}
.section-ttl-garamond-sm {
  font-family: var(--font-en-garamond);
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 1.6;
}
@media (max-width: 767.9px) {
  .section {
    padding: 55.5px 0 56.5px;
    margin: 0 calc(26 / 390 * 100vw);
  }
  .section-ttl {
    font-size: 18px;
    margin-bottom: 27.5px;
  }
  .section-ttl-garamond {
    font-size: 30px;
  }
  .section-ttl-garamond-sm {
    font-size: 25px;
  }
}


/* ---- 共通パーツ ---- */
/* 質問テキスト */
.question-text {
  position: relative;
  padding-left: 30px;
  margin-bottom: 26px;
}
.question-text::before {
  content: "";
  position: absolute;
  top: 0.8em;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: var(--color-primary);
}
@media (max-width: 767.9px) {
  .question-text {
    margin-bottom: 27px;
  }
}

/* 写真説明 */ 
.photo-caption {
  font-size: 11px;
  margin-top: 6.5px;
  line-height: calc(18 / 11);
}

/* 詳細情報テキスト */
.info-wrapper {
  display: grid;
  gap: 4px;
}
.info {
  display: flex;
  gap: 10px;
}
.info dt,
.info dd {
  font-family: var(--font-en-futura);
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 0.12em;
}
.info dd {
  font-weight: 500;
}
@media (max-width: 767.9px) {
  .info-wrapper {
    gap: 6px;
  }
}


/* KV */
.kv-wrapper {
  padding-top: 50px;
  margin: 70px calc(120 / 1280 * 100vw) 0;
}
.kv-ttl-content {
  position: absolute;
  width: 100%;
  top: calc(283 / 1280 * 100vw);
  color: var(--color-secondary);
  text-align: center;
}

@media (max-width: 767.9px) {
  .kv-wrapper {
    padding-top: 30px;
    margin: 55px calc(13 / 390 * 100vw) 0;
  }
  .kv-ttl-content {
    top: calc(152 / 390 * 100vw);
  }
}


/* イントロ */
.intro {
  display: flex;
  padding: 63.5px 0 73.5px;
  margin: 0 calc(120 / 1280 * 100vw);
  justify-content: space-between;
}
@media (max-width: 767.9px) {
  .intro {
    padding: 41px 0 54px;
    flex-direction: column;
    gap: 34px;
    margin: 0 calc(26 / 390 * 100vw);
  }
}


/* 服 サイドナビ */
.fashion-menu {
  border: 1px solid var(--color-primary);
  border-left: none;
  padding-bottom: 80px;
  flex-basis: calc(120 / 1280 * 100vw);
  min-width: 0;
}
.menu-links {
 position: relative;
 padding-left: 25px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 10px;
}
.indicator {
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: var(--color-primary);
  top: 8px;
  left: 0;
  transition: top 0.3s ease-in-out;
}
.is-womens {
  top: 33px;
}
.link-item {
  font-family: var(--font-en-futura);
  font-size: 13px;
  letter-spacing: 0.12em;
  line-height: 1.31;
  white-space: nowrap;
}
@media screen and (width < 1024px) {
  .fashion-menu {
    flex-basis: 10%;
  }
  .menu-links {
    padding-left: 14px;
    gap: 73px;
  }
  .indicator {
    width: 8px;
    top: 25px;
  }
  .is-womens {
    top: 138px;
  }
  .link-item {
    font-size: 12px;
    transform: rotate(90deg);
    transform-origin: 0 12px;
    margin-bottom: 12px;
  }
}
/* アンカーリンク対応 */
#mens, #womens {
  scroll-margin-top: 70px;
}
@media (max-width: 767.9px) {
  #mens, #womens {
    scroll-margin-top: 55px;
  }
}

/* 服 h2エリア */
.fashion-mainTtl-content {
  padding: 100px calc(70 / 1280 * 100vw) 86.5px;
}
@media screen and (width < 1024px) {
  .fashion-mainTtl-content {
    padding: 60px calc(26 / 390 * 100vw) 11.5px;
  }
}

/* 服 コンテンツ */
.fashion-content {
  border-bottom: 1px solid var(--color-primary);
  padding: 45px 0 80px;
}
.content-info-left {
  padding: calc(177 / 1280 * 100vw) calc(110 / 1280 * 100vw) 0 calc(69 / 1280 * 100vw);
}
.content-info-right {
  padding: calc(177 / 1280 * 100vw) calc(70 / 1280 * 100vw) 0 calc(110 / 1280 * 100vw);
}
@media screen and (width < 1024px) {
  .fashion-content {
    padding-top: 57.5px;
  }
  .content-info-left,
  .content-info-right {
    padding: 0 calc(26 / 390 * 100vw);
  }
}


/* 宿 */
.section-hotel {
  padding: 96px 0 120px;
  margin: 0 calc(120 / 1280 * 100vw);
}
.hotel-content-box {
  padding: 50px 0 44px;
  border-bottom: 1px solid var(--color-primary);
}
.hotel-ttl {
  font-family: var(--font-en-garamond);
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 1.17;
  margin-bottom: 4px;
}
.hotel-ttl-ja {
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.67;
  margin-bottom: 26px;
}
@media (max-width: 767.9px) {
  .section-hotel {
    padding: 57px 0 100.5px;
    margin: 0 calc(26 / 390 * 100vw);
  }
  .hotel-content-box {
    padding: 50.5px 0 51px;
  }
  .hotel-ttl {
    font-size: 23px;
    margin-bottom: 1.5px;
  }
  .hotel-ttl-ja {
    font-size: 11px;
    margin-bottom: 21px;
  }
}


/* footer */
.other-content {
  border-top: 1px solid var(--color-primary);
  background-color: #7F7F7F;
  padding: 92px 0 151px;
}
.other-content-ttl {
  font-family: var(--font-en-garamond);
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.4;
  color: var(--color-secondary);
  margin-bottom: 50px;
  text-align: center;
}
.link-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-secondary);
  width: 100%;
  clip-path: inset(100% 0 0 0);
  z-index: 2;
}
.other-item img {
  object-fit: cover;
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}
.other-item picture {
  display: block;
  overflow: hidden;
}
.other-item:hover img {
  transform: scale(1.05);
}
@media (max-width: 767.9px) {
  .other-content {
    padding: 67.5px 0 109.5px;
  }
  .other-content-ttl {
    font-size: 28px;
    margin-bottom: 37.5px;
  }
}


/* メニューボタン */
.menu-btn {
  position: absolute;
  top: 26.5px;
  right: 40px;
  font-family: var(--font-en-futura);
  font-size: 13px;
  letter-spacing: 0.12em;
  line-height: 1.31;
  color: var(--color-secondary);
  cursor: pointer;
}
@media (max-width: 767.9px) {
  .menu-btn {
    top: 21px;
    right: 13px;
    font-size: 10px;
  }
}


/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  mix-blend-mode: soft-light;
  backdrop-filter: blur(20px);
  z-index: 999;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/photo/page/2026_intellectual-journey/img/bg-header.png);
  background-image: -webkit-image-set(url(/photo/page/2026_intellectual-journey/img/bg-header.webp) type('image/webp'), url(/photo/page/2026_intellectual-journey/img/bg-header.png) type('image/png'));
  background-image: image-set(url(/photo/page/2026_intellectual-journey/img/bg-header.webp) type('image/webp'), url(/photo/page/2026_intellectual-journey/img/bg-header.png) type('image/png'));
  background-size: cover;
  z-index: -1;
}

.header-wrapper.is-open .header {
  z-index: 900;
}

.header-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

.logo-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767.9px) {
  .header, .header-content {
    height: 55px;
  }
  .logo-wrapper {
    top: 18px;
  }
}


/* menu */
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: .6s;
  z-index: 1000;
}

.menu-noise-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  mix-blend-mode: soft-light;
  opacity: 0;
  pointer-events: none;
  transition: .6s;
  z-index: 900;
}

.menu-noise-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/photo/page/2026_intellectual-journey/img/bg-menu.png);
  background-image: -webkit-image-set(url(/photo/page/2026_intellectual-journey/img/bg-menu.webp) type('image/webp'), url(/photo/page/2026_intellectual-journey/img/bg-menu.png) type('image/png'));
  background-image: image-set(url(/photo/page/2026_intellectual-journey/img/bg-menu.webp) type('image/webp'), url(/photo/page/2026_intellectual-journey/img/bg-menu.png) type('image/png'));
  background-size: cover;
  background-color: #000;
  z-index: -1;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  transition: .6s;
}
.menu-header {
  position: relative;
  height: 70px;
}
.menu-list-wrapper {
  display: flex;
  gap: 52px;
  justify-content: space-between;
  padding: 77px calc(50 / 1280 * 100vw) 160px;
}
.menu-list {
  flex-basis: calc((100% - 104px) / 3);
  display: grid;
  gap: 40px;
}
.item-link {
  display: flex;
  gap: calc(15 / 1280 * 100vw);
}
.item-img {
  flex-basis: calc((120 / 359) * 100%);
  overflow: hidden;
}
.item-img img {
  object-fit: cover;
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}
.item-link:hover img {
  transform: scale(1.1);
}
@media (max-width: 767.9px) {
  .menu-header {
    height: 55px;
  }
  .menu-list-wrapper {
    display: block;
    padding: 39.5px calc(13 / 390 * 100vw) 100px;
  }
  .menu-list {
    gap: 0;
  }
  .menu-item {
    padding: 20px 0;
    border-top: 1px solid var(--color-secondary);
  }
  .item-link {
    display: flex;
    gap: calc(15 / 390 * 100vw);
  }
}


/* VOLテキスト */
.volume-info {
  display: flex;
  gap: calc(15 / 1280 * 100vw);
  align-items: center;
  color: var(--color-secondary);
  font-family: var(--font-en-garamond);
  font-weight: 300;
  font-style: normal;
  font-size: calc(11 / 1280 * 100vw);
  letter-spacing: 0.05em;
  line-height: 1.36;
  margin-bottom: calc(4 / 1280 * 100vw);
}
.separator {
  width: 1px;
  height: 7px;
  background-color: var(--color-secondary);
}
@media (max-width: 767.9px) {
  .volume-info {
    gap: calc(15 / 390 * 100vw);
    font-size: calc(11 / 390 * 100vw);
    margin-bottom: calc(4 / 390 * 100vw);
  }
}

/* リンクテキスト */
.menu-link-ttl {
  color: var(--color-secondary);
  font-family: var(--font-en-garamond);
  font-weight: 300;
  font-style: normal;
  font-size: calc(15 / 1280 * 100vw);
  line-height: 1.4;
  letter-spacing: 0.05em;
  white-space: nowrap;
  margin-bottom: calc(10 / 1280 * 100vw);
}
.menu-link-desc {
  color: var(--color-secondary);
  font-size: calc(13 / 1280 * 100vw);
  line-height: 1.46;
  letter-spacing: 0.1em;
}
@media (max-width: 767.9px) {
  .menu-link-ttl {
    font-size: calc(15 / 390 * 100vw);
    margin-bottom: calc(10 / 390 * 100vw);
  }
  .menu-link-desc {
    font-size: calc(13 / 390 * 100vw);
  }
}
